

<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <meta name="author" content="Michael Gagliardi">
        <meta name="keywords" content="Michael Gagliardi, N328, Visualization, Visualizing New Media, US Census Data">
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/homepage.css">
        <script rel="text/javascript" src="../static/homepage.js"></script>
    </head>

    <body>
        <header></header>

        <h1>Hello World.</h1>

        <footer></footer>
    </body>
</html>